@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,700;1,700&family=Jost:wght@400;500&display=swap');

$green: #27300f;
$orange: RGBA(210, 106, 34, 1);
$white: #ffffff;

$font-jost: 'Jost', sans-serif;
$font-cormorant: 'Cormorant', serif;

html {
   font-size: 10px;
}

body {
   font-size: 1.6rem;
   font-family: $font-jost;
   color: $green;
}

.header {
   max-width: 1440px;
   margin: 0 auto 4.7rem;
   padding: 4rem 15px 0 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &__nav {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding-left: 0;
      gap: 4.8rem;
   }
   &__link {
      color: $green;
      text-decoration: none;
      &:hover {
         color: $orange;
      }
   }
   &__tel {
      color: $green;
      font-weight: 500;
      text-decoration: none;
      &:hover {
         color: $orange;
      }
   }
   &__cart {
      display: block;
      width: 4rem;
      height: 4rem;
      border-radius: 100%;
      background-color: $orange;
      background-image: url('../images/cart.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 1.7rem 1.5rem;
      position: relative;
      border: 1px solid $orange;
      cursor: pointer;
      &:hover {
         background-color: $green;
         border: 1px solid $green;
      }
   }
   &__counter {
      font-size: 0.8rem;
      color: white;
      position: absolute;
      right: 1rem;
      top: 0.6rem;
   }
}
.logo {
   display: block;
   background-image: url('../images/logo.svg');
   background-repeat: no-repeat;
   background-size: contain;
   width: 12rem;
   height: 3.2rem;
}

.container {
   max-width: 1440px;
   margin: 0 auto;
   padding-left: 15px;
   padding-right: 15px;
}

.main {
   background-image: url('../images/main.png');
   background-size: cover;
   background-position-x: center;
   background-repeat: no-repeat;
   position: relative;
   padding-bottom: 193px;
   z-index: 0;
   &__item {
      margin-left: 12rem;
      max-width: 378px;
      margin-top: 6rem;
   }
   &__link {
      margin-top: 5.5rem;
   }
   &__flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
   }
   &__cover {
      flex-basis: 758px;
      height: 758px;
      border: 1px solid rgba($green, 0.4);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
   }
   &__line {
      width: 656px;
      height: 656px;
      border: 1px solid rgba($green, 0.4);
      border-radius: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }
   &__image {
      width: 92%;
      box-shadow: 20px 20px 30px rgba($green, 0.6);
      border-radius: 100%;
      animation: shadow 6s infinite;
   }
   &__text {
      padding-top: 4.7rem;
   }
   &__btn {
      background-color: transparent;
      border: none;
      padding: 0;
      position: absolute;
      color: $green;
      text-align: left;
      cursor: pointer;

      &:hover {
         //.main__btn {
         &::before {
            background-color: $orange;
            box-shadow:
               0 0 0 4px $white,
               0 0 0 5px $orange;
         }
         //}
      }

      &::before {
         content: '';
         background-color: $green;
         width: 11px;
         height: 11px;

         box-shadow:
            0 0 0 4px rgba(255, 255, 255, 1),
            0 0 0 5px $green;
         border-radius: 100%;
         position: absolute;
      }
      &_1 {
         top: 49px;
         left: 66px;
         &::before {
            top: 19px;
            left: 85px;
         }
      }
      &_2 {
         top: 197px;
         right: 5px;
         &::before {
            top: 16px;
            right: 82px;
         }
      }
      &_3 {
         bottom: -50px;
         right: 244px;
         &::before {
            top: -30px;
            left: 13px;
         }
      }
   }
   &__food {
      display: block;
      color: rgba($green, 0.8);
   }

   &__tomato {
      position: absolute;
      bottom: 119px;
      right: 122px;
      width: 11rem;
   }
   &__cucumber {
      position: absolute;
      top: 0;
      left: 690px;
      width: 8.4rem;
   }
   &__avocado {
      position: absolute;
      z-index: -1;
      top: 47px;
      right: 0;
      width: 17.8rem;
   }
   &__pepper {
      position: absolute;
      left: 38px;
      top: 395px;
      width: 8.6rem;
   }
   &__beans {
      position: absolute;
      left: 0;
      bottom: 166px;
      width: 10.5rem;
   }
}
.title {
   font-family: $font-cormorant;
   font-weight: 700;
   font-size: 8rem;
   line-height: 1;
   margin: 0;
   &__span {
      font-style: italic;
   }
   &_block {
      .title__span {
         display: block;
      }
   }
}

.description {
   margin: 0;
   line-height: 1.5;
   &_size-s {
      font-size: 1.8rem;
   }
   &_size-m {
      font-size: 2.4rem;
   }
}

.link {
   color: $white;
   letter-spacing: 0.13rem;
   font-weight: 400;
   text-transform: uppercase;
   padding: 2.5rem 4.2rem;
   background-color: $orange;
   box-shadow: 0 1rem 1.1rem 0.2rem rgba(207, 92, 13, 0.2);
   border-radius: 3.8rem;
   text-decoration: none;
   display: inline-block;
}

.offer {
   background-image: url('../images/offer.png');
   background-size: cover;
   background-position-x: center;
   background-repeat: no-repeat;
   padding-top: 1.7rem;
   padding-bottom: 200px;
   &__text {
      margin-top: 6rem;
      max-width: 700px;
   }
   &__slider {
      overflow: hidden;
      padding-top: 95px;
   }
}

.swiper {
   overflow: initial;
   &-slide {
      border: 1px solid rgba($green, 0.4);
      border-radius: 2rem;
      box-sizing: border-box;
      height: 520px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 4rem;
      &__title {
         font-family: $font-cormorant;
         margin: 0;
         font-size: 3rem;
         font-weight: 700;
         color: $green;
      }
      &__text {
         margin-top: 2.5rem;
         max-width: 263px;
         line-height: 24px;
         color: rgba($green, 0.7);
      }
      &__link {
         font-weight: 500;
         color: rgba($green, 0.8);
         display: flex;
         align-items: center;
         text-decoration: none;
         text-transform: uppercase;
         margin-top: 18px;
         gap: 2rem;
         letter-spacing: 0.13rem;
         opacity: 0.8;
         &::before {
            content: '';
            display: block;
            width: 3rem;
            height: 3rem;
            background-image: url('../images/plus.svg');
            background-size: cover;
            background-repeat: no-repeat;
         }
      }
   }
   &-pagination {
      display: none;
   }
   &-button-prev,
   &-button-next {
      top: -60px;
      --swiper-navigation-size: 18px;
      &:hover {
         &::after {
            color: rgba($green, 1);
         }
      }
      &::after {
         color: rgba($green, 0.4);
      }
   }
   &-button-prev {
      left: initial;
      right: 81px;
   }
   &-button-next {
      right: 0;
   }
}
